*{margin: 0; padding: 0;}
dl, ol, ul{margin: 0;}
li{list-style: none;}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

h4{
    margin-bottom: 0!important;
}

body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}